.env
token.pickle
changes.txt
client_secret.json
startup_debug.log
test.py
assets/gameplays/video1.mp4

assets/gameplays/video2.mp4
assets/gameplays/video3.mp4
nltk_data/tokenizers/punkt.zip

__pycache__/
*.pyc
.venv/
venv/
.env
*.log
*.sqlite3
*.db
.DS_Store
.idea/
.vscode/
